@model IEnumerable<MiniMarket.Cliente>

@{
    ViewBag.Title = "Index";
}

<h4>Lista De Clientes</h4>

<div id="caja1">
    <a href="@Url.Action("Create", "Clientes")"><i id="agregar-proveedor" class="material-icons">person_add</i></a>
</div>

<div ng-app="clientes" ng-controller="clientescontroller">
    <div class="row">
        <div class="col" s6>
            <h2>Clientes</h2>
        </div>
        <table class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Cedula
                </th>
                <th>
                    Ciudad
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefono
                </th>
            </tr>

            <tr ng-repeat="cliente in listaclientes">

                <td>
                    {{cliente.Nombre}}
                </td>
                <td>
                    {{cliente.Direccion}}
                </td>
                <td>
                    {{cliente.Cedula}}
                </td>
                <td>
                    {{cliente.Ciudad}}
                </td>
                <td>
                    {{cliente.Email}}
                </td>
                <td>
                    {{cliente.Telefono}}
                </td>
            </tr>
        </table>
    </div>
</div>

<!-------------------------------------------------
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Codigo_Cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo_Cliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo_Cliente })
        </td>
    </tr>
}

</table>
        -->
