@model IEnumerable<MiniMarket.Producto>

@{
    ViewBag.Title = "Index";
}
<h4>Agregar Productos</h4>
<div id="caja1">
    <a href="@Url.Action("Create", "Productoes")"><i id="agregar-proveedor" class="material-icons">person_add</i></a>
</div>

<div ng-app="productos" ng-controller="productoscontroller">
    <div class="row">
        <div class="col" s6>
            <h2>Productos</h2>
        </div>
        <table class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Precio de Venta
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Precio de Compra
                </th>
                <th>
                    Fecha de Vencimiento
                </th>
                <th>
                    Garantia
                </th>
            </tr>
            @foreach (var item in Model)
            {
            <tr ng-repeat="producto in listaproductos">

                <td>
                    {{producto.Nombre}}
                </td>
                <td>
                    {{producto.Precio_Venta}}
                </td>
                <td>
                    {{producto.Descripcion}}
                </td>
                <td>
                    {{producto.Precio_Compra}}
                </td>
                <td>
                    {{producto.Fecha_Vencimiento}}
                </td>
                <td>
                    {{producto.Garantia}}
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Codigo_Producto }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Codigo_Producto }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Codigo_Producto })
                </td>
            </tr>
            }
        </table>
    </div>
</div>
<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_Venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_Compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Vencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garantia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Vencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garantia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Codigo_Producto }) |
                @Html.ActionLink("Details", "Details", new { id = item.Codigo_Producto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Codigo_Producto })
            </td>
        </tr>
    }

</table>
    -->
<!--=====================================
       GALERIA
       ======================================-->
<hr />
<div id="galeria" class="row">
    <h2>Productos</h2>
    <hr />
    <ul>
        <li class="col l3 s12"><img src="~/Img/img1.jpeg"></li>
        <li class="col l3 s12"><img src="~/Img/img2.jpg"></li>
        <li class="col l3 s12"><img src="~/Img/img3.jpg"></li>
        <li class="col l3 s12"><img src="~/Img/img4.jpeg"></li>
        <li class="col l3 s12"><img src="~/Img/img5.jpg"></li>
        <li class="col l3 s12"><img src="~/Img/img6.png"></li>
        <li class="col l3 s12"><img src="~/Img/img7.jpg"></li>
        <li class="col l3 s12"><img src="~/Img/img8.jpg"></li>
        <li class="col l3 s12"><img src="~/Img/img9.jpg"></li>
        <li class="col l3 s12"><img src="~/Img/img10.jpeg"></li>
        <li class="col l3 s12"><img src="~/Img/img11.jpeg"></li>
        <li class="col l3 s12"><img src="~/Img/img12.png"></li>
    </ul>
</div>